<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MUSIC EDIT</title>
    </head>
    <body>
        <form action="/music_edit/musicEdit" method="post">
            <fieldset>
                <legend>음원 수정</legend>
                <label>음원명: <input type="text" name="fileName" value="<%=session.fileName%>"></label><br>
                <label>앨범명: <input type="text" name="albumName" value="<%=session.albumName%>"></label><br>
                <label>아티스트 이름: <input type="text" name="artistName" value="<%=session.artistName%>"></label><br>
                <input type="submit" value="음원 수정">
            </fieldset>
        </form>
        <p>음원 등록</p>
        <form action="/upload/update" method="post" enctype="multipart/form-data">
            <input type="file" name="imgFile">
            <input type="submit" value="음원 업로드하기">
        </form>
    </body>
</html>