<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MUSIC LIST</title>
        <style>
            table { border: 1px solid black; border-collapse: collapse; }
            table th, table td { border: 1px solid black; }
        </style>
    </head>
    <body>
        <h1>음원 리스트</h1>
        <table id="music-list">
            <thead>
                <tr>
                <th>음원명</th>
                <th>앨범명</th>
                <th>아티스트 이름</th>
                <th>수정</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/sequelize.js"></script>

        <form action="/music/List" method="get">
            <input type="submit" value="음원명순">
        </form>


        <p>음원 업로드</p>
        <form action="/upload/create" method="post" enctype="multipart/form-data">
            <input type="file" name="imgFile">
            <input type="submit" value="음원 업로드하기">
        </form>
    </body>
</html>