<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SIGN UP</title>
    </head>
    <body>
        <form action="/users/signUp" method="post">
            <fieldset>
                <legend>회원가입</legend>
                <label>이름 : <input type="text" name="userName"></label><br>
                <label>ID : <input type="text" name="userId"></label><br>
                <label>PW : <input type="password" name="password"></label><br>
                <input type="submit" value="회원가입">
            </fieldset>
        </form>
    </body>
</html>
